.cover__link {
  background-image: url(../../../images/cover__trains.png);
  max-width: 1184px;
  height: 100%;
  display: block;
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: #fff;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}


.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  z-index: -1;
}


.cover__link:hover:before {
  opacity: 0.8;
}
