.footer__link {
  padding: 0;
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  opacity: 0.3;
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin: 0;
  }
}
