.place__paragraph_down {
  margin: 26px 0 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph_down {
    margin: 27px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph_down {
    margin: 25px 0 0;
  }
}
