.intr__text {
  margin: 40px 0 33px;
  font-family: "Inter", 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}


@media screen and (max-width: 670px) {
  .intr__text {
    margin: 40px 0 34px;
  }
}
