.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 690px;
  padding: 92px 0 92px 148px;
}


@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 0 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 752px) {
  .intro {
    max-width: 752px;
    padding: 64px 16px;
  }
}
