.place__website {
  max-height: 152px;
  max-width: 456px;
  margin: 0 0 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}


@media screen and (max-width: 751px) {
  .place__website {
    grid-area: website;
    max-width: 100%;
    padding: 0 16px;
    margin: 0;
  }
}
